html{
	margin: 0px;
	padding: 0px;

}
body{
	padding: 0px;
	margin: 0px;
	width: 100%;
	overflow: scroll;
	overflow-x: hidden;
  background-image: url('images/Cake.jpeg');
  background-size: cover;
}

header{
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 2em;
  position: relative;
  background-color: black;
  color: silver;
  z-index: 100;
  width: 100%;
  height: auto;
  margin: 0;

}

footer{
  font-family: 'Text Me One', sans-serif;
  font-size: 1em;
  color: white;
  background-color: black;
  height: 200px;
  margin-top: 50px;
  width: 100%;

}

.main {
  padding-left: 3%;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  margin-top: 44px;
  grid-gap: 30px;
  width: 100%;
}


.botlist li {
  list-style: none;
  width: 20%;
  list-style-position: inside;
  display: inline;
  float: left;
  white-space:nowrap;
  margin: 0px;
  padding: 0px;
  text-align: center;
  padding-top: 75px;
}


p {
 font-family: 'Poiret One' , sans-serif;
 padding-left: 10px;
 padding-right: 10px;
 font-weight: 400;
}

h3 {
  font-family:'Text Me One', serif ;
  font-size: 25px;
  font-weight:lighter;
  color: black;
  font-weight: bolder;
  text-align: left;
  padding-left: 8px;


}
h4{
  padding-left: 7px;
}

.cake{
  border:6px dotted black;
  background-color: hsla(0, 0%, 100%, 85%);
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  border-radius: 3%;
  color: black;
  text-decoration: none;
  transition: width 0.5s;
  width: 100%;
  margin-top: 15px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;

}
.cake:hover{
  z-index: 5;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  background-color: hsla(0,0%,100%, 100%)
}


img {
  height: 35%;
  width: 100%;
  border: 3px double black;
}

.description{
  border-top:2px solid black;
  padding-top:25px;

}

@media only screen and (max-width: 500px) {
	footer{
		font-size: 0.68em;
	}

	.cake p{
		font-size: 0.68em;
	}
}


@media only screen and (max-width: 590px) {
	.main {
	  grid-template-columns: 50%;
	  margin-top: 44px;
	  grid-auto-rows: 700px;
	  grid-gap: 30px;
	  width: 100%;
	}

	.cake{
		transform: scale(0.85);
		font-size: 0.8em;
	}

}

@media only screen and (max-width: 1400px) {
	.main {
	  position: relative;
	  left: 5%;
	  grid-template-columns: 40% 40%;
	  margin-top: 44px;
	  grid-auto-rows: 600px;
	  grid-gap: 30px;
	  width: 100%;
	}

}